{% extends 'base.html' %}

{% block header %}{% endblock %}

{% block content %}
  <div id="app" class="has-min-height-550"></div>
{% endblock %}

{% block script %}
{% load static %}

{% if debug_flag %}
<script src="{% static "dist/main.bundle.js" %}"></script>
{% else %}
<script src="https://pegao.netlify.com/main.bundle.js"></script>
{% endif %}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-142105356-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-142105356-1');
</script>
{% endblock %}
