{% extends "base.html" %}

{% block title %}Iniciar sesión en Pegao{% endblock %}

{% block content %}
<section class="section has-min-height-480 has-margin-left-50 has-margin-right-50 ">
  <div class="container is-fullhd has-text-centered">
    <p class="title is-family-intro has-text-black"><strong class="has-text-li1nk">Save</strong> your <strong class="has-text-li1nk">links,</strong> it's free and social.</p>
    <h1 class="title has-margin-top-50">Log in to start</h1>
    <p>
      <a href="{% url 'social:begin' 'google-oauth2' %}" class="button is-google is-rounded is-medium">
        <span class="icon">
          <i class="uil uil-google"></i>
        </span>
        <span>Log in with Google</span>
      </a>
    </p>
    <p class="has-text-dark has-margin-top-10 has-padding-bottom-50">
      By using Pegao, you agree to our <a href="privacy" target="_blank" class="has-text-dark">Privacy policy</a> and <a href="terms" target="_blank" class="has-text-dark">Terms of service</a>.
    </p>
  </div>
</section>
{% endblock %}