{% extends 'base.html' %}

{% block content %}
<div class="columns is-desktop is-multiline is-gapless is-centered has-padding-bott1om-5 has-background-homepage">
  <div class="column is-one-third-desktop">
    <nav class="level is-mobile">
      <div class="level-item has-text-centered">
        <div class="has-padding-30 has-background-black has-border-radius-5" style="width:160px">
          <p class="heading has-text-orange">Lists created</p>
          <p class="title has-text-white-ter">28 <img src="https://twemoji.maxcdn.com/v/12.1.4/72x72/1f9ea.png" width="32px" /></p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div class="has-padding-30 has-background-black has-border-radius-5" style="width:160px;backgroun1d: url(https://twemoji.maxcdn.com/2/72x72/1f5e3.png) repeat">
          <p class="heading has-text-danger">Links shared</p>
          <p class="title has-text-white">422 <img src="https://twemoji.maxcdn.com/v/12.1.4/72x72/2728.png" width="32px" /></p>
        </div>
      </div>
    </nav>
  </div>
  <div class="column is-three-fifths-desktop has-margin-top-10 has-margin-left-50 has-margin-right-50 has-text-centered">
    <p class="title is-family-intro has-text-white-ter">The <strong>easiest</strong> way to make <strong>lists of links</strong> on topics of your <strong>interest</strong>.</p>
  </div>
  <div class="column is-three-fifths-desktop has-text-centered">
    <p class="has-margin-top-35">
      <a href="login/google-oauth2/" class="button is-google is-rounded is-medium">
        <span class="icon">
          <i class="uil uil-google"></i>
        </span>
        <span>Start now</span>
      </a>
    </p>
    <p class="is-size-7 has-text-white-ter has-margin-top-10 has-margin-bot1tom-50">
      By using Pegao, you agree to our <a href="privacy" target="_blank" class="has-text-grey">Privacy policy</a> and <a href="terms" target="_blank" class="has-text-grey">Terms of service</a>.
    </p>
  </div>
</div>

<div class="columns is-multiline is-gapless is-vcentered is-centered has-background-light-blue has-margin-bottom-0">
  <div class="column is-three-fifths has-text-centered has-padding-top-20 has-padding-50 has-background-blue">
    <figure class="image has-padding-50">
      <img src="static/img/screen-wallv4.png" >
    </figure>
  </div>
  <div class="column is-1full has-padding1-top-20 has-margin-30 has-marg1in-top-50">
    
    <h1 class="title has-text-centered has-padding-15">Remember, share and organize your links online — it's more fun</h1>
    <p><i class="uil uil-spin has-text-link is-size-5"></i><strong class="is-size-5-1">Save links directly from your browser</strong>, from any device, without any installation.</p>
    <p><i class="uil uil-spin has-text-link is-size-5"></i><strong class="is-size-5-1">Create your own lists</strong> — written with a / symbol — or just choose an emoji.</p>
    <p><i class="uil uil-spin has-text-link is-size-5"></i><strong class="is-size-5-1">Get your public profile</strong> — and share it with the world.</p>
    <div class="columns is-desktop is-multiline is-gapless is-centered has-margin-top-20 has-border-radius-5 has-padding-5 has-background-white">
      <div class="column has-margin-bottom-30 has-text-centered">
        <div class="is-flex is-horizontal-center">
          <figure class="image is-400">
            <img src="static/img/screen-first-list.png" />
          </figure>
        </div>
        <p class="has-margin-top-10">
          <span class="has-margin-right-10"><i class="em em-svg em-speaking_head"></i></span>
          <span class="has-margin-right-10"><i class="em em-svg em-heart has-padding-5"></i></span>
          <span class="has-margin-right-10"><i class="em em-svg em-bulb"></i></span>
          <span class="has-margin-right-10"><i class="em em-svg em-star"></i></span>
          <span class="has-margin-right-10"><i class="em em-svg em-round_pushpin"></i></span>
          <span class="has-margin-right-10"><i class="em em-svg em-shopping_trolley"></i></span>
          <span class="has-margin-right-10"><i class="em em-svg em-gift"></i></span>
          <i class="em em-svg em-bookmark"></i>
        </p>
      </div>
    </div>
    <h1 class="title has-text-centered">What's next</h1>
    <p class="has-tex1t-centered has-margin-top-10">
      Ideas are always welcome, please tweet me
      <a href="https://twitter.com/zakokor" target="_blank"> 
        <span>@zakokor</span>
      </a>
    </p>
    <div class="has-background-yellow has-border-radius-5 has-padding-10 has-margin-top-15">
      <p>Hi, it’s Gonzalo. I’m the solo developer of Pegao.co and it's currently running on a server that bills me <strong>$5</strong> per month, but in the future I will need more than that. If you enjoy my work, please consider supporting what I do. Thank you.</p>
    </div>
    <p class="has-text-centered has-padding-10">
      <a class="bd-button has-margin-bottom-5" href="https://www.patreon.com/zakokor" target="_blank">
        <img src="https://c5.patreon.com/external/logo/become_a_patron_button.png" alt="Become a Patron" width="190" />
      </a>
      <a class="bd-button has-margin-bottom-5" href='https://ko-fi.com/zakokor' target='_blank'>
        <img src='https://az743702.vo.msecnd.net/cdn/kofi1.png' border='0' alt="Buy Me a Coffee at ko-fi.com" width="170"  />
      </a>
      <a class="button has-background-facebook is-medium" href="https://www.facebook.com/sharer/sharer.php?u=https://pegao.co" target="_blank">
        <span class="icon">
          <i class="uil uil-facebook"></i>
        </span>
        <span>Share</span>
      </a>
      <a class="button has-background-twitter is-medium" href="http://twitter.com/share?text=Pegao is a space to save and share curated pages with others&url=https://pegao.co" target="_blank">
        <span class="icon">
          <i class="uil uil-twitter"></i>
        </span>
        <span>Tweet</span>
      </a>
    </p>
  </div>
  <div class="column is-full has-text-centered has-padding-b1ottom-50 has-background-dark">
    <div class="has-padding-30">
      <h4 class="subtitle has-text-grey">Log in to start, it's easy</h4>
      <a href="{% url 'social:begin' 'google-oauth2' %}" class="button is-google is-rounded is-medium">
        <span class="icon">
          <i class="uil uil-google"></i>
        </span>
        <span>Log in with Google</span>
      </a>
    </div>
  </div>
</div>

{% endblock %}
