<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% load static %}
  <meta name="description" content="Save your links, it's free and social" />

  <meta property="og:url" content="https://www.pegao.co" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Pegao" />
  <meta property="og:description" content="I'm using Pegao to save my links, it's free and social" />
  <meta property="og:image" content="https://pegao.co/static/img/screen-homepage.png" />

  <meta name="twitter:title" content="Pegao" />
  <meta name="twitter:description" content="I'm using Pegao to save my links, it's free and social" />
  <meta name="twitter:image" content="https://pegao.co/static/img/screen-homepage.png" />

  <link rel="icon" type="image/png" href="{% static "img/favicon-196x196.png" %}" sizes="196x196" />
  <link rel="icon" type="image/png" href="{% static "img/favicon-96x96.png" %}" sizes="96x96"/>
  <link rel="icon" type="image/png" href="{% static "img/favicon-32x32.png" %}" sizes="32x32" />
  <link rel="icon" type="image/png" href="{% static "img/favicon-16x16.png" %}" sizes="16x16" />
  <link rel="shortcut icon" href="{% static "img/favicon.ico" %}">
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{% static "img/apple-touch-icon-57x57.png" %}" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static "img/apple-touch-icon-114x114.png" %}" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static "img/apple-touch-icon-72x72.png" %}" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static "img/apple-touch-icon-144x144.png" %}" />
  
  {% if debug_flag %}
  <link rel="stylesheet" href="{% static "dist/main.css" %}">
  {% else %}
  <link rel="stylesheet" href="https://pegao.netlify.com/main.css">
  {% endif %}
  
  <title>{% block title %}Pegao - Save your links, it's free and social{% endblock %}</title>
</head>
<body>
{% block header %}
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item has-padding-right-0" href="/">
      <img src="{% static "img/big.pegao-w.svg" %}" width="140px">
    </a>

    <span class="is-hidden-desktop is-hidden-mobile tag is-link has-margin-top-15 has-margin-right-15">
      Supports us on  
      <a class="has-margin-5" href="https://www.patreon.com/zakokor" target="_blank" rel="noopener nofollow noreferrer">
          <span class="icon has-text-patreon">
            <svg class="svg-inline" aria-hidden="true" data-prefix="fab" data-icon="patreon" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M512 194.8c0 101.3-82.4 183.8-183.8 183.8-101.7 0-184.4-82.4-184.4-183.8 0-101.6 82.7-184.3 184.4-184.3C429.6 10.5 512 93.2 512 194.8zM0 501.5h90v-491H0v491z"></path></svg>
          </span>
        </a>
        <a class="has-margin-5" href="https://ko-fi.com/zakokor" target="_blank" rel="noopener nofollow noreferrer">
          <span class="icon">
            <svg class="svg-inline" version="1.1" viewBox="0 0 644.8401 410.86875" xmlns="http://www.w3.org/2000/svg">
              <g transform="translate(-37.58 -135.5)">
              <g transform="matrix(1.1422 0 0 -1.1422 265.93 460.73)">
              <g>
              <path transform="matrix(1.0944 0 0 1.0944 246.86 82.861)" d="m0 0c-19.946-2.492-36.151-0.622-36.151-0.622v122.13h38.02s42.385-11.839 42.385-56.704c0-41.126-21.191-57.328-44.254-64.806m105.06 85.739c-16.628 87.821-104.44 98.734-104.44 98.734h-393.33c-12.99 0-14.588-17.148-14.588-17.148s-1.752-157.43-0.481-254.11c3.524-52.093 55.597-57.435 55.597-57.435s177.7 0.52 257.2 1.039c52.41 9.181 57.674 55.155 57.155 80.3 93.527-5.196 159.52 60.8 142.89 148.62" fill="#fff"/>
              <path d="m0 0c4.445-2.238 7.285 0.543 7.285 0.543s65.045 59.367 94.348 93.557c26.063 30.586 27.762 82.129-16.997 101.39-44.758 19.258-81.584-22.657-81.584-22.657-31.935 35.123-80.268 33.345-102.62 9.575-22.354-23.77-14.548-64.568 2.129-87.274 15.655-21.314 84.465-82.644 94.894-93.016 0 0 0.76-0.795 2.548-2.116" fill="#ff5f5f"/>
              </g>
              </g>
              </g>
            </svg>
          </span>
        </a>
        <a class="has-margin-left-5" href="https://github.com/zakokor/pegao" target="_blank" rel="noopener nofollow noreferrer">
          <span class="icon">
            <i class="uil uil-github has-text-black is-size-5"></i>
          </span>
        </a>
    </span>

    <a class="navbar-item is-hidden-desktop button is-google is-rounded is-small has-margin-top-15 has-margin-right-30" href="{% url 'social:begin' 'google-oauth2' %}">
      <span class="icon">
        <i class="uil uil-google"></i>
      </span>
      <span>Log in</span>
    </a>

  </div>

  <div id="navMenuIndex" class="navbar-menu">
    <div class="navbar-end">
      <p class="is-hidden-touch tag is-purple has-margin-top-15 has-margin-right-15">
        <span>We're open source on</span>
        <a href="https://github.com/zakokor/pegao" target="_blank" rel="noopener nofollow noreferrer">
          <i class="uil uil-github has-text-black is-size-5"></i>
        </a>
        — Supports us from $3 on  
        <a class="has-margin-5" href="https://www.patreon.com/zakokor" target="_blank" rel="noopener nofollow noreferrer">
          <span class="icon has-text-patreon">
            <svg class="svg-inline" aria-hidden="true" data-prefix="fab" data-icon="patreon" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M512 194.8c0 101.3-82.4 183.8-183.8 183.8-101.7 0-184.4-82.4-184.4-183.8 0-101.6 82.7-184.3 184.4-184.3C429.6 10.5 512 93.2 512 194.8zM0 501.5h90v-491H0v491z"></path></svg>
          </span>
        </a>
        <a class="has-margin-5" href="https://ko-fi.com/zakokor" target="_blank" rel="noopener nofollow noreferrer">
          <span class="icon">
            <svg class="svg-inline" version="1.1" viewBox="0 0 644.8401 410.86875" xmlns="http://www.w3.org/2000/svg">
              <g transform="translate(-37.58 -135.5)">
              <g transform="matrix(1.1422 0 0 -1.1422 265.93 460.73)">
              <g>
              <path transform="matrix(1.0944 0 0 1.0944 246.86 82.861)" d="m0 0c-19.946-2.492-36.151-0.622-36.151-0.622v122.13h38.02s42.385-11.839 42.385-56.704c0-41.126-21.191-57.328-44.254-64.806m105.06 85.739c-16.628 87.821-104.44 98.734-104.44 98.734h-393.33c-12.99 0-14.588-17.148-14.588-17.148s-1.752-157.43-0.481-254.11c3.524-52.093 55.597-57.435 55.597-57.435s177.7 0.52 257.2 1.039c52.41 9.181 57.674 55.155 57.155 80.3 93.527-5.196 159.52 60.8 142.89 148.62" fill="#fff"/>
              <path d="m0 0c4.445-2.238 7.285 0.543 7.285 0.543s65.045 59.367 94.348 93.557c26.063 30.586 27.762 82.129-16.997 101.39-44.758 19.258-81.584-22.657-81.584-22.657-31.935 35.123-80.268 33.345-102.62 9.575-22.354-23.77-14.548-64.568 2.129-87.274 15.655-21.314 84.465-82.644 94.894-93.016 0 0 0.76-0.795 2.548-2.116" fill="#ff5f5f"/>
              </g>
              </g>
              </g>
            </svg>
          </span>
        </a>
        <span class="has-margin-5">|</span>
        <a href="http://twitter.com/share?text=Pegao is a space to save and share curated pages with others&url=https://pegao.co" target="_blank" rel="noopener nofollow noreferrer">
          <span class="icon has-text-twitter">
            <i class="uil uil-twitter has-text-twitter is-size-5"></i>
          </span>
        </a>
      </p>
      <a class="navbar-item is-hidden-touch button is-google is-rounded is-small has-margin-top-15 has-margin-right-30" href="{% url 'social:begin' 'google-oauth2' %}">
        <span class="icon">
          <i class="uil uil-google"></i>
        </span>
        <span>Log in</span>
      </a>
    </div>
  </div>
</nav>
{% endblock %}

{% block content %}{% endblock %}
  
<div class="pegao-footer has-padding-top-20 has-padding-bottom-20 has-text-centered has-background-white-bis">
  <p>
    <a class="has-margin-right-10" href="/terms" target="_blank" rel="noopener nofollow noreferrer">Terms</a>
    <a class="has-margin-right-10" href="/privacy" target="_blank" rel="noopener nofollow noreferrer">Privacy</a>
    <span class="has-margin-right-10">© 2019 - 2020 Pegao</span>
  </p>
  <p class="has-padding-5">
    This is a side project created by
    <a href="https://pegao.co/@zakokor" rel="noopener nofollow noreferrer">
      <span class="has-maring-5">
        <i class="icon-svg icon-pegar icon-pegao"> </i>
      </span>
      <span>zakokor</span>
      <span>|</span>
      <a href="https://twitter.com/zakokor" target="_blank" rel="noopener nofollow noreferrer">
        <span>
          <i class="uil uil-twitter"></i>
        </span>
      </a>
    </a>
  </p>
</div>

</body>
{% block script %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-142105356-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-142105356-1');
  </script>
{% endblock %}
</html>
